[submodule "tomlplusplus"]
	path = submodules/tomlplusplus
	url = https://github.com/marzer/tomlplusplus.git
[submodule "imgui"]
	path = submodules/imgui
	url = https://github.com/ocornut/imgui.git
[submodule "SDL"]
	path = submodules/SDL
	url = https://github.com/libsdl-org/SDL.git
